@model ToDoItem

<div class="row mb-3">
    <div class="col-12">
        <div class="card my-1">
            <div class="card-body">
                <h5 class="card-title">@Model.Description</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="IsDone" disabled />
                    <label class="form-check-label" asp-for="IsDone">
                        @if (Model.IsDone)
                        {
                            <del>Done</del>
                        }
                        else
                        {
                            <span>Not done</span>
                        }
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
